{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block content %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{message}}
    </div>
{% endfor %}
<h1>Modifier de mot de passe</h1>

<div class="alert alert-primary">
    {{ form_start(form) }} 
    <div class="row">
        <div class="col-md">{{ form_row(form.firstname) }}</div>
        <div class="col-md">{{ form_row(form.lastname) }}</div>
    </div>
    {{ form_widget(form) }}
    <button type="submit" class="button btn btn-outline btn-primary"><i class="fa fa-save"></i> Enregistrer les modifications</button>
    {{ form_end(form) }}
</div> <br><br><br>

{% endblock %}
